<tr>
<td class="td2" align="center">{POSTICON}</td>
<td class="td2"><b><a href="viewboard.php?bid={BOARDID}">{BOARDNAME}</a></b>&nbsp;<a href="rssfeed.php?bid={BOARDID}" target="_blank"><img src="template/metallicthunder/images/rss.gif" alt="{LANG-RSS}" title="{LANG-RSS}" /></a><br />{BOARDDESCRIPTION}<br />{MODERATORS}<br />{SUBBOARDS}</td>
<td class="td1" align="center">{TOPICCOUNT}</td>
<td class="td1" align="center">{POSTCOUNT}</td>
<td class="td2">{POSTDATE}<br />{POSTLINK}</td>
</tr>
