<a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-GROUPMEMBERLIST}<br />

<p>{LANG-TEXT}</p>

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th colspan="5" class="td1">::{LANG-GROUPMEMBERS}::</th>
</tr><tr>
<td class="td1" width="20%">&nbsp;</td>
<td class="td1" width="20%">&nbsp;</td>
<td class="td1" width="20%" align="center">{LANG-USERNAME}</td>
<td class="td1" width="20%" align="center">{LANG-POSTCOUNT}</td>
<td class="td1" width="20%" align="center">{LANG-REGISTRATIONDATE}</td>
</tr><tr>
<td class="td2" colspan="5" align="center">{LANG-NOMEMBERS}</td>
</tr>
</table><br />