<a href="../index.php">{TITLE}</a> &#187; {LANG-TITLE}<br /><br />
{LANG-WELCOME}<br /><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="td2" align="center">
<a href="#" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'boardmenu')">{LANG-BOARDMENU}</a> | <a href="#" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'generalmenu')">{LANG-GENERALMENU}</a> | <a href="#" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'settings')">{LANG-SETTINGS}</a> | <a href="#" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'groupmenu')">{LANG-GROUPMENU}</a> | <a href="#" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'stylemenu')">{LANG-STYLEMENU}</a> | <a href="#" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'usermenu')">{LANG-USERMENU}</a>
<div id="boardmenu" class="anylinkcss">
<a href="boardcp.php">{LANG-BOARDSETUP}</a>
<a href="boardcp.php?action=prune">{LANG-PRUNE}</a>
</div>

<div id="generalmenu" class="anylinkcss">
<a href="generalcp.php?action=newsletter">{LANG-NEWSLETTER}</a>
<a href="generalcp.php?action=smiles">{LANG-SMILES}</a>
<a href="generalcp.php?action=censor">{LANG-CENSOR}</a>
</div>

<div id="settings" class="anylinkcss">
<a href="acpsettings.php?section=user">{LANG-USERSETTINGS}</a>
<a href="acpsettings.php?section=board">{LANG-BOARDSETTINGS}</a>
<a href="acpsettings.php?section=mail">{LANG-MAILSETTINGS}</a>
<a href="acpsettings.php?section=cookie">{LANG-COOKIESETTINGS}</a>
<a href="acpsettings.php?section=attachment">{LANG-ATTACHMENTSETTINGS}</a>
</div>

<div id="groupmenu" class="anylinkcss">
<a href="groupcp.php">{LANG-GROUPSETUP}</a>
<a href="groupcp.php?action=grouppermission">{LANG-GROUPPERMISSION}</a>
<a href="groupcp.php?action=pendinglist">{LANG-PENDINGLIST}</a>
</div>

<div id="stylemenu" class="anylinkcss">
<a href="stylecp.php?action=add_style">{LANG-CREATESTYLE}</a>
<a href="stylecp.php">{LANG-MANAGE}</a>
</div>

<div id="usermenu" class="anylinkcss">
<a href="usercp.php?action=banlist">{LANG-BAN}</a>
<a href="usercp.php?action=blacklistuser">{LANG-BLACKLISTUSERS}</a>
<a href="usercp.php?action=user_prune">{LANG-USERPRUNE}</a>
<a href="usercp.php?action=activate">{LANG-ACTIVATE}</a>
<a href="usercp.php?action=warnlog">{LANG-USERWARN}</a>
<a href="usercp.php">{LANG-MANAGE}</a>
<a href="usercp.php?action=ranks">{LANG-RANKS}</a>
</div>
</td>
</tr>
</table><br />