<script language="JavaScript" type="text/javascript"> 

function del_confirm(id){ 
if (confirm("{LANG-DELPROMPT}")){ 
window.location="usercp.php?action=rank_delete&id="+id
}
} 
</script>
<a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-RANK}<br />

<p>[<a href="usercp.php?action=add_rank">{LANG-ADDRANK}</a>]</p>

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="td1" width="33%">&nbsp;</td>
<td class="td1" width="34%" align="center">{LANG-RANKNAME}</td>
<td class="td1" width="33%" align="center">{LANG-POSTRULE}</td>
</tr>