<script language="JavaScript" type="text/javascript"> 

function del_confirm(id){ 
if (confirm("{LANG-DELPROMPT}")){ 
window.location="generalcp.php?action=delete_smiles&id="+id
}
} 
</script>
<a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; 
{LANG-SMILES}<br /><br />

[<a href="generalcp.php?action=add_smiles">{LANG-ADDSMILES}</a>]<br /><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="td1" width="25%">&nbsp;</td>
<td class="td1" width="25%" align="center">{LANG-SMILE}</td>
<td class="td1" width="25%" align="center">{LANG-CODE}</td>
<td class="td1" width="25%" align="center">{LANG-FILENAME}</td>
</tr>