<a href="index.php">{TITLE}</a> &#187; <a href="groups.php">{LANG-TITLE}</a> &#187; {LANG-VIEWGROUP}<br /><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th colspan="2" class="td1">::{LANG-GROUPDETAILS}::</th>
</tr><tr>
<td class="td2" align="50%">{LANG-GROUPNAME}</td>
<td class="td2" align="50%">{GROUPNAME}</td>
</tr><tr>
<td class="td2" align="50%">{LANG-GROUPDESCRIPTION}</td>
<td class="td2" align="50%">{GROUPDESCRIPTION}</td>
</tr><tr>
<td class="td2" align="50%">{LANG-GROUPSTATUS}</td>
<td class="td2" align="50%">{GROUPSTATUS}</td>
</tr>
</table><br />