<script language='JavaScript' type="text/javascript">
//lets add in some variables.
var ftype = "post_topic";
var nosubject = "{LANG-NOSUBJECT}";
var longsubject = "{LANG-LONGSUBJECT}";
var nobody = "{LANG-NOBODY}";

//look-up of related topics.
function similarTopics(){

	//un-hide element.
	document.getElementById('data').style.display = 'block';
	new Ajax.Updater('data', 'includes/relatedtopics.php', {method: 'post', parameters: {topic: document.getElementById("topic").value}});
}
</script>

<script type="text/javascript" src="includes/validate.js"></script>
<script type="text/javascript" src="includes/bbcode.js"></script>

<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br /><br />

<table border="0" class="table" cellpadding="1" cellspacing="1">
<tr>
<td class="td1" align="center">{LANG-POSTINGRULES}</td>
</tr><tr>
<td class="td2" align="center">{LANG-ALLOWSMILES}: <b>{ALLOWSMILES}</b> &nbsp;|&nbsp;{LANG-ALLOWBBCODE}: <b>{ALLOWBBCODE}</b> &nbsp;|&nbsp;{LANG-ALLOWIMG}: <b>{ALLOWIMG}</b></td>
</tr>
</table><br />

<div id="data"></div><br />

<form method="post" action="Process.php?mode=New_Topic&amp;bid={BID}" name="forum" onsubmit="return validate(ftype);">
<table border="0" class="table" cellpadding="1" cellspacing="1">
<tr>
<td colspan="2" align="center" class="td1">{LANG-TITLE}</td>
</tr><tr>
<td colspan="2" align="center" class="td1">{BBCODE}</td>
</tr><tr>
<td class="td1" width="20%">{LANG-USERNAME}</td>
<td class="td1" width="80%">{USERNAME}</td>
</tr><tr>
<td class="td1" width="20%">{LANG-POSTINGIN}</td>
<td class="td1" width="80%">{POSTINGIN}</td>
</tr><tr>
<td class="td1" width="20%">{LANG-TOPIC}</td>
<td class="td1" width="80%"><input type="text" name="topic" class="text" size="30" id="topic" onblur="similarTopics();" /><div id="topicerr"></div></td>
</tr><tr>
<td class="td2" align="center" width="20%">{SMILES}<br />
<a href="#" onclick="open_win('smiles.php', 455, 200);">{LANG-SMILES}</a></td>
<td class="td1" width="80%">
<textarea id="body" name="post" rows="5" cols="90" class="text"></textarea><div id="bodyerr"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-ATTACHMENTUPLOAD}</td>
<td class="td1" width="80%"><input type="button" value="{LANG-ATTACHMENTMANAGER}" onclick="open_win('upload.php?bid={BID}', 455, 200);" class="submit" {ATTACHMENTSTAT} /></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTIONS}</td>
<td class="td1" width="80%">{POST-TYPE}</td>
</tr><tr>
<td colspan="2" align="center" class="td1"><input type="submit" value="{LANG-POSTTOPIC}" class="submit" /></td>
</tr>
</table>
</form><br />
