<script language='JavaScript'>
//lets add in some variables.
var ftype = "report";
var nomsg = "{LANG-NOMESSAGE}";
</script>
<script type="text/javascript" src="includes/validate.js"></script>
<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br /><br />

{LANG-TEXT}<br />

<form method="post" action="report.php?mode=report_topic" onsubmit="return validate(ftype);">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" align="center" class="td1" width="50%">{LANG-TITLE}</td>
</tr><tr>
<td class="td2" width="50%">{LANG-REPORTEDBY}</td>
<td class="td2" width="50%">{USERNAME}</td>
</tr><tr>
<td class="td2" width="50%">{LANG-REASON}</td>
<td class="td2" width="50%"><select name="reason" class="text">
<option value="spampost">{LANG-SPAMPOST}</option>
<option value="fightpost">{LANG-FIGHTPOST}</option>
<option value="advert">{LANG-ADVERT}</option>
<option value="userproblems">{LANG-USERPROBLEMS}</option>
<option value="other">{LANG-OTHER}</option>
</select></td>
</tr><tr>
<td class="td2" width="50%">{LANG-MESSAGE}</td>
<td class="td2" width="50%"><textarea name="msg" rows="5" cols="80" class="text" id="msg"></textarea><div id="msgerr"></div></td>
</tr><tr>
<td colspan="2" align="center" class="td1"><input type="submit" name="submit" value="{LANG-SUBMIT}" class="submit" /></td>
</tr>
</table>
<input type="hidden" name="tid" value="{TID}" />
</form>