<html>
<head>
<title>{TITLE} - {LANG-TITLE}</title>
<link rel="stylesheet" type="text/css" href="template/metallicthunder/style.css">
</head>
<body>
<p align="center" class="td">{LANG-TEXT}</p>
<table border="0" class="table" cellpadding="1" cellspacing="1">
<tr>
<td align="center" class="td1">{LANG-TITLE}</td>
</tr><tr>
<td class="td2">
<table border="0" class="table" cellspacing="0" cellpadding="2">
{SMILE}
</tr>
</table></td>
</tr>
</table>
<p align="center" class="td">[<a href="javascript:self.close();">{LANG-CLOSEWINDOW}</a>]</p>
</body>
</html>