<tr>
<td class="td2" align="center">{POSTICON}</td>
<td class="td2" class="td"><b><a href="viewboard.php?bid={BOARDID}">{BOARDNAME}</a></b>&nbsp;<a href="rssfeed.php?bid={BOARDID}" target="_blank"><img src="/template/metallicthunder/images/rss.gif" alt="{LANG-RSS}" title="{LANG-RSS}" /></a><br />{BOARDDESCRIPTION}<br />{MODERATORS}<br />{SUBBOARDS}</td>
<td class="td1" align="center" class="td">{TOPICCOUNT}</td>
<td class="td1" align="center" class="td">{POSTCOUNT}</td>
<td class="td2" class="td">{POSTDATE}<br />{POSTLINK}</td>
</tr>
