</table><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th class="td1">{LANG-ICONGUIDE}</th>
</tr><tr>
<td class="td2" align="center">
<img src="template/metallicthunder/images/new.gif" align="middle" alt="{LANG-NEW}" />{LANG-NEW}&nbsp;&nbsp;<img src="template/metallicthunder/images/old.gif" align="middle" alt="{LANG-OLD}" />{LANG-OLD}&nbsp;&nbsp;<img src="template/metallicthunder/images/poll.gif" align="middle" alt="{LANG-POLL}" />{LANG-POLL}&nbsp;&nbsp;<img src="template/metallicthunder/images/locked_topic.gif" align="middle" alt="{LANG-LOCKED}" />{LANG-LOCKED}&nbsp;&nbsp;<img src="template/metallicthunder/images/important.gif" align="middle" alt="{LANG-IMPORTANT}" />{LANG-IMPORTANT}&nbsp;<img src="template/metallicthunder/images/hottopic.gif" align="middle" alt="{LANG-HOTTOPIC}" />{LANG-HOTTOPIC}</td>
</tr></table><br />
<div class="td">{BOARD-POLICY}</div>