# make sure that magic_quotes and register_globals is always off
<IfModule mod_php5.c>
	php_flag magic_quotes_gpc	Off
	php_flag register_globals	Off
</IfModule>


<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ebbv3/

    #Checks to see if the user is attempting to access a valid file,
    #such as an image or css document, if this isn't true it sends the
    #request to index.php
    RewriteCond $1 !^(index\.php|application|upload|js|robots\.txt|favicon\.ico)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
