<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th class="td1" width="50%">::{LANG-BOARDSTAT}::</th><th class="td1" width="50%">::{LANG-ICONGUIDE}::</th>
</tr><tr>
<td class="td2">
{LANG-NEWESTMEMBER}: {NEWESTMEMBER}<br />
<b>{TOTAL-TOPIC}</b> {LANG-TOTALTOPIC} / <b>{TOTAL-POST}</b> {LANG-TOTALPOST} / <b>{TOTAL-USER}</b> {LANG-TOTALUSER}</td>
<td class="td2"><img src="template/clearblue2/images/new.gif" alt="{LANG-NEWPOST}" />{LANG-NEWPOST}<br /><img src="template/clearblue2/images/old.gif" alt="{LANG-OLDPOST}" />{LANG-OLDPOST}</td>
</tr>
</table><br />