</table><br />

<form method="post" action="generalcp.php?action=censor_add" onsubmit="return acp_validate(ftype);">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="td1" align="center">{LANG-CENSORLIST}</td>
</tr><tr>
<td class="td2" width="50%">{LANG-ADDCENSOR}</td>
<td class="td2" width="50%"><input type="text" name="addcensor" size="30" class="text" id="censor" /><div id="censorerr"></div></td>
</tr><tr>
<td class="td2" width="50%">{LANG-CENSORACTION}<a href="#" class="hintanchor" onMouseover="showhint('{LANG-CENSORACTIONHINT}', this, event, '150px')">[?]</a></td>
<td class="td2" width="50%"><input type="radio" name="censoraction" value="1" id="censorban" />{LANG-CENSORBAN}&nbsp;<input type="radio" name="censoraction" value="2" id="censorspam" />{LANG-CENSORSPAM}<div id="censoractionerr"></div></td>
</tr><tr>
<td colspan="2" class="td1" align="center"><input type="submit" value="{LANG-SUBMIT}" class="submit" /></td>
</tr>
</table>
</form><br />