<tr>
<td class="td2" align="center"><a href="#" onclick="del_confirm({GROUPID},'{GROUPMEMBER}');return false;">{LANG-REMOVEGROUPMEMBER}</a></td>
<td class="td2" align="center"><a href="/PM.php?action=write&user={GROUPMEMBER}"><img src="/template/clearblue2/images/pm.gif" alt="{LANG-PMALT}" border="0" /></a></td>
<td class="td2" align="center"><a href="/Profile.php?mode=view&amp;user={GROUPMEMBER}">{GROUPMEMBER}</a></td>
<td class="td2" align="center">{POSTCOUNT}</td>
<td class="td2" align="center">{JOINDATE}</td>
</tr>