<script language='JavaScript' type="text/javascript">
//lets add in some variables.
var ftype = "acp_groupmember";
var nouser = "{LANG-NOUSER}";
var longuser = "{LANG-LONGUSER}";
</script>
<script type="text/javascript" src="/includes/acp_vaildate.js"></script>
<a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-GROUPPENDINGLIST}<br />

<p>{LANG-TEXT}</p>

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th colspan="5" class="td1">::{LANG-PENDINGLIST}::</th>
</tr><tr>
<td class="td1" width="20%">&nbsp;</td>
<td class="td1" width="20%">&nbsp;</td>
<td class="td1" width="20%" align="center">{LANG-USERNAME}</td>
<td class="td1" width="20%" align="center">{LANG-POSTCOUNT}</td>
<td class="td1" width="20%" align="center">{LANG-REGISTRATIONDATE}</td>
</tr>