<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="td1" colspan="2" align="center"><b>{LANG-SERVERINFO}</b></td>
</tr><tr>
<td class="td1" width="50%" align="center">{LANG-PHPVERSION}</td>
<td class="td2" width="50%" align="center"><b>{PHPVERSION}</b></td>
</tr><tr>
<td class="td1" width="50%" align="center">{LANG-MYSQLVERSION}</td>
<td class="td2" width="50%" align="center"><b>{MYSQLVERSION}</b></td>
</tr><tr>
<td class="td1" colspan="2" align="center">[<a href="index.php?action=info">{LANG-PHPINFO}</a>]</td>
</tr>
</table><br />