<script language='JavaScript'>
//lets add in some variables.
var ftype = "edit_password";
var longpwd = "{LANG-LONGPWD}";
var nocpwd = "{LANG-NOCPWD}";
var nonpwd = "{LANG-NONPWD}";
var novpwd = "{LANG-NOVPWD}";
var nomatch = "{LANG-NOMATCH}";

</script>
<script type="text/javascript" src="includes/validate.js"></script>
<script type="text/javascript" src="includes/pwdStrength.js"></script>
<a href="index.php">{TITLE}</a> &#187; <a href="Profile.php">{LANG-TITLE}</a> &#187; {LANG-EDITPASS}<br />
<p>{LANG-TEXT}</p>

<form method="post" action="Profile.php?mode=new_password_process" onsubmit="return validate(ftype);">
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="td1" colspan="2" align="center">{LANG-EDITPASS}</td>
</tr><tr>
<td class="td2" width="50%">{LANG-CURRPASS}</td>
<td class="td2" width="50%"><input type="password" name="curpass" class="text" size="30" id="cpwd" /><div id="curpwderr"></div></td>
</tr><tr>
<td class="td2" width="50%">{LANG-NEWPASS}</td>
<td class="td2" width="50%"><input type="password" name="newpass" class="text" size="30" id ="npwd" onkeyup="testPassword(document.getElementById('npwd').value);" /><div id="pwdTest" class="pwdmeterdiv">Password Strength:<br />
	<span id="meterEmpty" id="pwdmeterempty">
	<span id="meterFull" class="pwdmeterfull"></span></span>
	<span id="Words" class="pwdmetermsg">Begin Typing</span>
</div><div id="newpwderr"></div></td>
</tr><tr>
<td class="td2" width="50%">{LANG-CONFIRMPASS}</td>
<td class="td2" width="50%"><input type="password" name="confirmpass" class="text" size="30" id="vpwd" /><div id="vpwderr"></div></td>
</tr><tr>
<td class="td1" colspan="2" align="center"><input type="submit" value="{LANG-UPDATEPASS}" id="formSubmit" class="submit" disabled=disable /></td>
</tr>
</table>
</form><br />