<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{TITLE}  - {PAGETITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="template/clearblue2/style.css" />
<link rel="alternate" type="application/rss+xml" href="latestposts.php" title="Latest Posts" />
<link rel="shortcut icon" href="template/clearblue2/images/favicon.ico" />

<!-- REQUIRED, CORE -->
<script type="text/javascript" src="includes/js/prototype.js"></script>
<script type="text/javascript" src="includes/js/effects.js"></script>
<script type="text/javascript" src="includes/js/dialog.js"></script>

<script type="text/javascript" src="includes/livesearch.js"></script>
<script language="JavaScript" type="text/javascript">
function open_win(Url, width, height){
	open(Url,"_blank","toolbar=no, location=no, directories=no, statusbar=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width="+width+", height="+height+"")
}
</script>
</head>
<body>
<div class="container">
