<br />
<script language='JavaScript' type="text/javascript">
//lets add in some variables.
var ftype = "post_reply";
var nobody = "{LANG-NOBODY}";

</script>
<script type="text/javascript" src="includes/validate.js"></script>
<script type="text/javascript" src="includes/bbcode.js"></script>

<form method="post" action="Process.php?mode=Reply&amp;bid={BID}&amp;tid={TID}&amp;pg={PAGE}" name="forum" onsubmit="return validate(ftype);">
<table border="0" class="table" align="center" cellpadding="1" cellspacing="1">
<tr>
<td colspan="2" align="center" class="td1">{LANG-INSTANTREPLY}</td>
</tr><tr>
<td colspan="2" align="center" class="td1">{BBCODE}</td>
</tr><tr>
<td class="td1" align="center" width="10%">{SMILES}<br />
<a href="#" onclick="open_win('smiles.php', 455, 200);">{LANG-SMILES}</a></td>
<td class="td1" width="90%" align="center"><textarea name="reply_post" rows="5" cols="90" wrap="soft" class="text" id="body"></textarea><div id="bodyerr"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-ATTACHMENTUPLOAD}</td>
<td class="td1" width="80%"><input type="button" value="{LANG-ATTACHMENTMANAGER}" onclick="open_win('upload.php?bid={BID}', 455, 200);" class="submit" {ATTACHMENTSTAT} /></td>
</tr><tr>
<td class="td1" width="10%">{LANG-OPTIONS}</td>
<td class="td1" width="90%"><input type="checkbox" name="subscribe" value="yes" class="text" />{NOTIFY}<br />
<input type="checkbox" name="no_smile" value="1" class="text" />{LANG-DISABLESMILES}<br />
<input type="checkbox" name="no_bbcode" value="1" class="text" />{LANG-DISABLEBBCODE}</td>
</tr><tr>
<td colspan="2" align="center" class="td1">
<input type="hidden" name="page" value="{PAGE}" />
<input type="submit" value="{LANG-REPLY}" class="submit" /></td>
</tr>
</table>
</form><br />
