<script language='JavaScript' type="text/javascript">
//lets add in some variables.
var ftype = "post_poll";
var nosubject = "{LANG-NOSUBJECT}";
var longsubject = "{LANG-LONGSUBJECT}";
var nobody = "{LANG-NOBODY}";
var noquestion = "{LANG-NOQUESTION}";
var longquestion = "{LANG-LONGQUESTION}";
var nopoll = "{LANG-NOPOLL}";
var longpoll = "{LANG-LONGPOLL}";

//look-up of related topics.
function similarTopics(){

	//un-hide element.
	document.getElementById('data').style.display = 'block';
	new Ajax.Updater('data', 'includes/relatedtopics.php', {method: 'post', parameters: {topic: document.getElementById("topic").value}});
}
</script>
<script type="text/javascript" src="includes/validate.js"></script>
<script type="text/javascript" src="includes/bbcode.js"></script>
<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br /><br />

<table border="0" class="table" cellpadding="1" cellspacing="1">
<tr>
<td class="td1" align="center">{LANG-POSTINGRULES}</td>
</tr><tr>
<td class="td2" align="center">{LANG-ALLOWSMILES}: <b>{ALLOWSMILES}</b> &nbsp;|&nbsp;{LANG-ALLOWBBCODE}: <b>{ALLOWBBCODE}</b> &nbsp;|&nbsp;{LANG-ALLOWIMG}: <b>{ALLOWIMG}</b></td>
</tr>
</table><br />

<div id="data"></div><br />

<form method="post" action="Process.php?mode=New_Poll&amp;bid={BID}" name="forum" onsubmit="return validate(ftype);">
<table border="0" class="table" cellpadding="1" cellspacing="1">
<tr>
<td colspan="2" align="center" class="td1">{LANG-TITLE}</td>
</tr><tr>
<td colspan="2" align="center" class="td1">{BBCODE}</td>
</tr><tr>
<td class="td1" width="20%">{LANG-USERNAME}</td>
<td class="td1" width="80%">{USERNAME}</td>
</tr><tr>
<td class="td1" width="20%">{LANG-POSTINGIN}</td>
<td class="td1" width="80%">{POSTINGIN}</td>
</tr><tr>
<td class="td1" width="20%">{LANG-TOPIC}</td>
<td class="td1" width="80%"><input type="text" name="topic" id="topic" class="text" size="30" onblur="similarTopics();" /><div id="topicerr"></div></td>
</tr><tr>
<td class="td2" align="center" width="20%">{SMILES}<br />
<a href="#" onclick="open_win('smiles.php', 455, 200);">{LANG-SMILES}</a></td>
<td class="td1" width="80%">
<textarea title="spellcheck_icons" accesskey="spell/spell_checker.php" id="body" name="post" class="text_box" rows="5" cols="90" wrap="soft"></textarea><div id="bodyerr"></div></td>
</td>
</tr><tr>
<td class="td1" width="20%">{LANG-ATTACHMENTUPLOAD}</td>
<td class="td1" width="80%"><input type="button" value="{LANG-ATTACHMENTMANAGER}" onclick="open_win('upload.php?bid={BID}', 455, 200);" class="submit" {ATTACHMENTSTAT} /></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTIONS}</td>
<td class="td1" width="80%">{POST-TYPE}</td>
</tr><tr>
<td colspan="2" class="td2" align="center">{LANG-POLL}<div id="pollerr"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-QUESTION}</td>
<td class="td1" width="80%"><input type="text" name="question" id="question" class="text" size="30" /><div id="questionerr"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTION1}</td>
<td class="td1" width="80%"><input type="text" name="poll_otp1" id="opt1" class="text" size="30" /><div id="opt1err"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTION2}</td>
<td class="td1" width="80%"><input type="text" name="poll_otp2" id="opt2" class="text" size="30" /><div id="opt2err"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTION3}</td>
<td class="td1" width="80%"><input type="text" name="poll_otp3" id="opt3" class="text" size="30" /><div id="opt3err"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTION4}</td>
<td class="td1" width="80%"><input type="text" name="poll_otp4" id="opt4" class="text" size="30" /><div id="opt4err"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTION5}</td>
<td class="td1" width="80%"><input type="text" name="poll_otp5" id="opt5" class="text" size="30" /><div id="opt5err"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTION6}</td>
<td class="td1" width="80%"><input type="text" name="poll_otp6" id="opt6" class="text" size="30" /><div id="opt6err"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTION7}</td>
<td class="td1" width="80%"><input type="text" name="poll_otp7" id="opt7" class="text" size="30" /><div id="opt7err"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTION8}</td>
<td class="td1" width="80%"><input type="text" name="poll_otp8" id="opt8" class="text" size="30" /><div id="opt8err"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTION9}</td>
<td class="td1" width="80%"><input type="text" name="poll_otp9" id="opt9" class="text" size="30" /><div id="opt9err"></div></td>
</tr><tr>
<td class="td1" width="20%">{LANG-OPTION10}</td>
<td class="td1" width="80%"><input type="text" name="poll_otp10" id="opt10" class="text" size="30" /><div id="opt10err"></div></td>
</tr><tr>
<td colspan="2" align="center" class="td1"><input type="submit" value="{LANG-POSTTOPIC}" class="submit" /></td>
</tr>
</table>
</form>
