/*
========================================
Filename: printable.css
Last Modified: 10/30/2013
ClearBlue2 print CSS template file.
========================================
*/

body {
    color: #000;
    background: #fff;
    font-family: Verdana, arial, helvetica, serif;
    font-size: small;
}

h1#title {
    font-size: large;
    font-weight: bold;
}

dl#posts {
    width: 90%;
    margin: 0;
    padding: 0;
    list-style: none;
}

dt.postheader {
    border: solid #000;
    border-width: 1px 0;
    padding: 4px 0;
}

dd.postbody {
    margin: 1em 0 2em 2em;
}

blockquote, code {
    border: 1px solid #000;
    margin: 3px;
    padding: 1px;
    display: block;
}

code {
    font: x-small monospace;
}

blockquote, .quoteheader, .codeheader {
    font-size: x-small;
}

hr {
    height: 1px;
    border: 0;
    color: #000;
    background-color: #000;
}