/*
========================================
Filename: style.css
Last Modified: 10/30/2013
ClearBlue2 CSS template file for Elite Bulletin Board v2.2.0
All formatting belongs here.
========================================
*/
html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding-bottom: 60px;
}

#wrap > .content {
    padding: 0 5px 5px;
}

#footer {
    clear: both;
    height: 4em;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #576C82;
}

#footer a:link, #footer a:visited {
    border-bottom: 1px dotted #334455;
    color: #CCDDEE;
}

/*
==============================
LINK CSS
==============================
*/

a {
    color: #4B6C9E;
    text-decoration: none;
}

a:hover, a:focus {
    color: #CC6600;
    text-decoration : none;
}

a:active {
    color : #546078;
}

/*
==============================
BASE CSS
==============================
*/

#sortable {
    list-style-type: none;
}

.centerContainer {
    margin: 0 auto;
}

.centerText {
    text-align: center;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.hideElement {
    display: none;
}


img {
    border: 0px;
}

/*
==============================
MISC COLORS CSS
==============================
*/

.color1 {
    background-color: #4B6C9E;
    color: #fff;
}

.color2 {
    background-color: #C2C9D1;
    color: #000;
}

/*
==============================
COMMENT BOX CSS
==============================
*/
.commentbox {
    width:900px;
    min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
    background: #A1B3C7;
    color:white;
    padding:5px;
    position:relative;
    word-wrap:break-word;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin-bottom:2em;
}

.commentbox:after{
    content:'';
    display:block;
    position:absolute;
    top:100%; /*should be set to 100% */
    left:30px;
    width:0;
    height:0;
    border-color: #A1B3C7 transparent transparent transparent; /* border color should be same as div div background color */
    border-style: solid;
    border-width: 10px;
}

.commentfooter{
    padding-left: 58px;
    margin-top: -2em;
    margin-bottom: 2em;
    font-size: 90%;
    color: #4A4A4A;
}

/*
==============================
NEWS TICKER CSS
==============================
*/
#news {
    list-style-type: none;
    padding: 3px;
    margin: 0;
}

.avatar{
    float:right;
    border: 0px;
}

/*
==============================
LOADER CSS
==============================
*/

#loadingBackGround {
    display:none;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:hidden;
    padding:0;
    margin:0;
    background-color:#c2c9d1;
    filter:alpha(opacity=80);
    opacity:0.8;
    z-index:100000;
}

#loadingBackGround_nojs {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:hidden;
    padding:0;
    margin:0;
    background-color:#000;
    filter:alpha(opacity=80);
    opacity:0.8;
    z-index:100000;
}

#loadingMessage_nojs {
    position:fixed;
    text-align: center;
    top:35%;
    left:33%;
    padding:10px;
    width:600px;
    z-index:100000;
    background-color:#A1B3C7;
    color: #000;
    border:solid 1px #000;
}

#loadingMessage {
    position:fixed;
    text-align: center;
    top:30%;
    left:43%;
    padding:10px;
    width:14%;
    z-index:100000;
    background-color:#A1B3C7;
    border:solid 1px #000;
}

.ui-autocomplete-loading {
    background: transparent url('images/smloader.gif') right center no-repeat;
}

/*
==============================
PASSWORD STRENGTH TESTER CSS
==============================
*/
.PwdStrengthBox{
    width:110px;
    text-align:right;
}
.strength-text{
    font-size:1.2em;
    font-weight:bold;
}
.PwdStrengthBox span.password-strength{
    width:110px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    height:10px;
    background-color:#555;
    display:block;
}

/*
==============================
MODCP WARNING CSS
==============================
*/

.raisewarn{
    color:#CD0000;
    font-weight:bold;
}
.lowerwarn{
    color: #238E23;
    font-weight:bold;
}

/*
==============================
BBCODE TAG CSS
==============================
*/

.quote, .attachment, .styleinstaller, .smileinstaller, .modinstaller{
    color: #000;
    background-color: #E9E9E9;
    border: 1px solid #163061;
    margin: 1px;
    padding: 1px;
    width: 98%;
    font-size: x-small;
    line-height: 1.4em;
    white-space: nowrap;
}
.code{
    color: #000;
    background-color: #E9E9E9;
    font-family: "courier new", monospace;
    font-size: x-small;
    line-height: 1.3em;
    border: 1px solid #163061;
    margin: 1px;
    padding: 1px;
    width: 98%;
    white-space: nowrap;
    overflow: auto;
    max-height: 24em;
}

.quoteheader, .codeheader, .attachheader {
    color: #000;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: x-small;
    line-height: 1.2em;
}

/*
==============================
NOTIFICATION CSS
==============================
*/

.jnotify-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
}
.jnotify-container .jnotify-notification {
    position: relative;
}
.jnotify-container .jnotify-notification .jnotify-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e3f0db;
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    opacity: 0.90;
    z-index: 1;
}
.jnotify-container .jnotify-notification a.jnotify-close,
.jnotify-container .jnotify-notification a.jnotify-close:link,
.jnotify-container .jnotify-notification a.jnotify-close:visited,
.jnotify-container .jnotify-notification a.jnotify-close:focus,
.jnotify-container .jnotify-notification a.jnotify-close:hover {
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 0 5px;
    font: bold 1.4em Arial,Helvetica,sans-serif;
    line-height: 1em;
    color: #567b1b;
    text-decoration: none;
    z-index: 3;
    cursor: pointer;
}
.jnotify-container .jnotify-notification .jnotify-message {
    position: relative;
    z-index: 2;
    padding: 20px;
    text-align: center;
    color: #567b1b;
    font: bold 1.4em Arial,Helvetica,sans-serif;
    line-height: 1.2em;
}
.jnotify-container .jnotify-notification .jnotify-message * {
    font-size: 1em;
}
/* notification type == "error" */
.jnotify-container .jnotify-notification-error .jnotify-background {
    background-color: #d79eac;
}
.jnotify-container .jnotify-notification-error .jnotify-close,
.jnotify-container .jnotify-notification-error .jnotify-message {
    color: #a72947 !important;
}
/* notification type == "warning" */
.jnotify-container .jnotify-notification-warning .jnotify-background {
    background-color: #fff7d1;
}
.jnotify-container .jnotify-notification-warning .jnotify-close,
.jnotify-container .jnotify-notification-warning .jnotify-message {
    color: #c2a928 !important;
}

/*
==============================
HOVERCARD CSS
==============================
*/
.hc-preview {
    position: relative;
    display:inline;
}

.hc-name {
    font-weight:bold;
    position:relative;
    display:inline-block;
}

.hc-details {
    left:-10px;
    margin-right:80px;
    text-align:left;
    font-family:Sans-serif !important;
    font-size:12px !important;
    color:#666 !important;
    line-height:1.5em;
    position:absolute;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    top:-10px;
    padding:2em 10px 10px;
}

.hc-pic {
    width:50px;
    height: 50px;
    margin-top:-2.5em;
    float:right;
}

.hc-details-open-left {
    left: auto;
    right:-10px;
    text-align:right;
    margin-left:80px;
    margin-right:0;
}

.hc-details-open-left > .hc-pic { float:left; }

.hc-details-open-top {
    bottom:-10px;
    top:auto;
    padding: 10px 10px 2em;
}

.hc-details-open-top > .hc-pic {
    margin-top:10px;
    float:right;
}

.hc-details .s-action {
    position: absolute;
    top:8px;
    right:5px;
}

.hc-details .s-card-pad {
    border-top: solid 1px #eee;
    margin-top:10px;
    padding-top:10px;
    overflow:hidden;
}

.hc-details-open-top .s-card-pad {
    border:none;
    border-bottom: solid 1px #eee;
    margin-top:0;
    padding-top:0;
    margin-bottom:10px;
    padding-bottom:10px;
}

.hc-details .s-card .s-strong {
    font-weight:bold;
    color: #555;
}

.hc-details .s-img {
    float: left;
    margin-right: 10px;
    max-width: 70px;
}

.hc-details .s-name {
    color:#222;
    font-weight:bold;
}

.hc-details .s-loc { float:left; }

.hc-details-open-left .s-loc { float:right; }

.hc-details .s-href {
    clear:both;
    float:left;
}

.hc-details .s-desc {
    float:left;
    font-family: Georgia;
    font-style: italic;
    margin-top:5px;
    width:100%;
}

.hc-details .s-username { text-decoration:none; }

.hc-details .s-stats {
    display:block;
    float:left;
    margin-top:5px;
    clear:both;
    padding:0px;
}

.hc-details ul.s-stats li {
    list-style:none;
    float:left;
    display:block;
    padding:0px 10px !important;
    border-left:solid 1px #eaeaea;
}

.hc-details ul.s-stats li:first-child {
    border:none;
    padding-left:0 !important;
}

.hc-details .s-count { font-weight: bold; }

/*
==============================
JQBAR CSS
==============================
*/
.jqbar {
    position: relative;
    top: 0px;
}
.jqbar.vertical {
    text-align: center;
    display: inline-block;
}
.jqbar.vertical span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #4D5767;
}
.jqbar.vertical .bar-percent {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    height: 20px;
    width: 100%;
}
.jqbar.vertical .bar-level-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.jqbar.vertical .bar-level {
    position: absolute;
}

/*horizontal*/
.jqbar.horizontal span {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #4D5767;
}
.jqbar.horizontal .bar-percent {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    top: 5px;
}


.anylinkcss{
position:absolute;
visibility: hidden;
border:1px solid black;
border-bottom-width: 0;
font:normal 12px Verdana, Arial, Helvetica, sans-serif;
line-height: 18px;
z-index: 100;
background-color: #9FB6CD;
width: 205px;
text-align: left;
}

.anylinkcss a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: bold;
text-indent: 5px;
}

.anylinkcss a:hover{ /*hover background color*/
background-color: #C2C9D1;
}
