<tr>
<td class="td2" align="center" width="5%"><img src="{POSTINGICON}" height="25" width="25" alt="" /></td>
<td width="40%" class="td2">{ATTACHMENTICON} <a href="viewtopic.php?bid={BOARDID}&amp;tid={TOPICID}">{TOPICNAME}</a></td>
<td width="15%" class="td2">{AUTHOR}</td>
<td width="10%" align="center" class="td2">{REPLYCOUNT}</td>
<td width="10%" align="center" class="td2">{POSTVIEWS}</td>
<td width="20%" class="td2">{TOPICDATE}<br /><a href="viewtopic.php?{POSTLINK}">{LANG-POSTEDUSER}</a>: {POSTEDUSER}</td>
</tr>