<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br /><br />

{PAGENATION}<br />

{POST-RULE}
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th class="td1" width="5%">&nbsp;</th>
<th class="td1" width="40%">{LANG-TOPIC}</th>
<th class="td1" width="15%">{LANG-POSTEDBY}</th>
<th class="td1" width="10%">{LANG-REPLIES}</th>
<th class="td1" width="10%">{LANG-POSTVIEWS}</th>
<th class="td1" width="20%">{LANG-LASTPOSTEDBY}</th>
</tr><tr>
<td colspan="6" align="center" class="td2">{BOARDMSG}</td>
</tr>
</table><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th class="td1">{LANG-ICONGUIDE}</th>
</tr><tr>
<td class="td2" align="center">
<img src="template/clearblue2/images/new.gif" align="middle" alt="{LANG-NEW}" />{LANG-NEW}&nbsp;&nbsp;<img src="template/clearblue2/images/old.gif" align="middle" alt="{LANG-OLD}" />{LANG-OLD}&nbsp;&nbsp;<img src="template/clearblue2/images/poll.gif" align="middle" alt="{LANG-POLL}" />{LANG-POLL}&nbsp;&nbsp;<img src="template/clearblue2/images/locked_topic.gif" align="middle" alt="{LANG-LOCKED}" />{LANG-LOCKED}&nbsp;&nbsp;<img src="template/clearblue2/images/important.gif" align="middle" alt="{LANG-IMPORTANT}" />{LANG-IMPORTANT}&nbsp;<img src="template/clearblue2/images/hottopic.gif" align="middle" alt="{LANG-HOTTOPIC}" />{LANG-HOTTOPIC}</td>
</tr></table><br />
<div class="td">{BOARD-POLICY}</div>