<script language="JavaScript" type="text/javascript"> 

function del_confirm(){ 
if (confirm("{LANG-DELPROMPT}")){ 
window.location="acp_log.php?mode=clear"
}
} 
</script>
<table border="0" class="table" cellspacing="1" cellpadding="3">
<tr>
<td align="center" class="td">
[<a href="#" onclick="del_confirm();return false;">{LANG-CLEARLIST}</a>]
<table border="0" class="table" cellspacing="1" cellpadding="1">
</tr><tr>
<td class="td1" align="center"><b>{LANG-ACPLOG}</b></td>
</tr><tr>
<td class="td2">{ACPLOG}</td>
</tr>
</table>
<p align="center" class="td">[<a href="javascript:self.close();">{LANG-CLOSE}</a>]</p>