<tr>
<td class="td2" width="25%"><b>{BOARDNAME}</b></td>
<td class="td2" width="25%" align="center"><a href="boardcp.php?action=board_modify&amp;id={BOARDID}&amp;type={BOARDTYPE}">{LANG-MODIFY}</a></td>
<td class="td2" width="25%" align="center"><a href="#" onclick="del_confirm({BOARDID},{BOARDTYPE});return false;">{LANG-DELETE}</a></td>
<td class="td2" width="25%" align="center"><a href="boardcp.php?action=board_order&amp;id={BOARDID}&amp;o=up&amp;type={BOARDTYPE}&amp;cat={CATEGORYID}">{LANG-MOVEUP}</a>&nbsp;/&nbsp;<a href="boardcp.php?action=board_order&amp;id={BOARDID}&amp;o=down&amp;type={BOARDTYPE}&amp;cat={CATEGORYID">{LANG-MOVEDOWN}</a></td>
</tr>