<script language="JavaScript" type="text/javascript"> 
function del_confirm(id,user){ 
if (confirm("{LANG-DELPROMPT}")){ 
window.location="groupcp.php?action=groupmember_remove&gid="+id+"&u="+user
}
} 
</script>
<br /><div class="td2"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-GROUPMEMBERLIST}</div><br />

<p class="td2">{LANG-TEXT}</p>

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th colspan="5" class="td1">::{LANG-GROUPMEMBERS}::</th>
</tr><tr>
<td class="td1" width="20%">&nbsp;</td>
<td class="td1" width="20%">&nbsp;</td>
<td class="td1" width="20%" align="center">{LANG-USERNAME}</td>
<td class="td1" width="20%" align="center">{LANG-POSTCOUNT}</td>
<td class="td1" width="20%" align="center">{LANG-REGISTRATIONDATE}</td>
</tr>
