<tr>
<td class="td2" align="center"><a href="groupcp.php?action=pending_stat&amp;accept=1&amp;gid={GROUPID}&amp;u={USERNAME}">{LANG-ACCEPTUSER}</a> | <a href="groupcp.php?action=pending_stat&amp;accept=0&amp;gid={GROUPID}&amp;u={USERNAME}">{LANG-DENYUSER}</a></td>
<td class="td2" align="center"><a href="/PM.php?action=write&amp;user={USERNAME}"><img src="/template/simple2/images/pm.gif" alt="{LANG-PMALT}" border="0" /></a></td>
<td class="td2" align="center"><a href="/Profile.php?mode=view&amp;user={USERNAME}">{USERNAME}</a></td>
<td class="td2" align="center">{POSTCOUNT}</td>
<td class="td2" align="center">{JOINDATE}</td>
</tr>