<script language="JavaScript" type="text/javascript"> 

function del_confirm(id){ 
if (confirm("{LANG-DELPROMPT}")){ 
window.location="stylecp.php?action=style_delete&id="+id
}
} 
</script>
<br /><div class="td2"><a href="../index.php">{TITLE}</a> &#187; <a href="index.php">{LANG-TITLE}</a> &#187; {LANG-STYLES}</div><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td class="td1" width="50%">&nbsp;</td>
<td class="td1" width="50%" align="center">{LANG-STYLENAME}</td>
</tr>
