<br /><div class="td2"><a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}</div><br />

<div class="td2">{PAGENATION}</div><br />

<a href="PM.php?action=banlist"><img src="template/simple2/images/viewbanlist.gif" border="0" alt="{LANG-VIEWBANLIST}" /></a>&nbsp;<a href="PM.php?action=write"><img src="template/simple2/images/newtopic.gif" border="0" alt="{LANG-POSTPM}" /></a><br />

<p class="td2">
<b>{LANG-PMRULE}</b>&nbsp;{PMRULE}<br />
<b>{LANG-CURRENTAMOUNT}</b>&nbsp;<img src="template/simple2/images/bar.gif" height="8" width="{CURRENTAMOUNT}" alt="{CURRENTAMOUNT}%" title="{CURRENTAMOUNT}%" />&nbsp;{CURRENTAMOUNT}%
</p>

<div align="center" class="td2"><a href="PM.php?folder=Inbox">{LANG-INBOX}</a> - <a href="PM.php?folder=Outbox">{LANG-OUTBOX}</a> - <a href="PM.php?folder=Archive">{LANG-ARCHIVE}</a></div><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th class="td1" width="5%">&nbsp;</th>
<th class="td1" width="50%">{LANG-SUBJECT}</th>
<th class="td1" width="25%">{LANG-SENDER}</th>
<th class="td1" width="20%">{LANG-PMDATE}</th>
</tr>
